*.bib  
these.tex  
extraction_exemples_glose.tex
sommaire_graphique_edition.tex
tableau_resume.tex
tableau_resume_titre.tex
extraction_incipit_exemples_glose.tex
preambule.tex
principal.tex
biblio.tex
*.bbl
*.lof 
*.pdf      
*.aux 
*.bcf  
*.blg  
*.log  
*.run.xml  
*.toc
*.out
These/
pdf/
bibliographie/
pdf/

